* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e3db;
  font-family: "Saans TRIAL", sans-serif;
  overflow-x: hidden;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 0.9;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 0.9;
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -1px  ;
  line-height: 0.9;
}

p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  min-height: 100vh;
  height: max-content;
}

.projects p {
  padding: 5px 20px;
}

.projects-list {
  border-top: 1px solid #000;
}

.project {
  height: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.project-wrapper {
  position: relative;
  height: 240px;
  will-change: transform;
  transform: translateY(-160px);
}

.project-name,
.project-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 50px !important;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.project-name {
  background-color: #e3e3db;
  color: #000;
}

.project-project {
  background-color: #000;
  color: #e3e3e3;
}

.project-preview {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
  height: 30%;
  z-index: 2;
}
